<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./admin-includes/common-css-includes.ejs') %>

    <!-- Custom styles List (table) this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('./admin-includes/admin-sidebar.ejs') %>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('./admin-includes/admin-topbar.ejs') %>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Edit User</h1>
            </div>

            <!-- User Edit Form -->
            <div class="card shadow mb-4">
              <div class="card-body">
                <form name="newProductForm" class="needs-validation" novalidate>
                  <div class="row">
                    <div class="col-6 mb-3">
                      <label for="ProductName" class="form-label"
                        >First Name</label
                      >
                      <input
                        name="f_Name"
                        class="form-control"
                        type="text"
                        placeholder="Enter First Name"
                        value="<%= user.first_name %>"
                        required
                      />
                      <div class="invalid-feedback">
                        Please Enter Valid First Name.
                      </div>
                    </div>

                    <div class="col-6 mb-3">
                      <label for="ProductName" class="form-label"
                        >Last Name</label
                      >
                      <input
                        name="l_Name"
                        class="form-control"
                        type="text"
                        placeholder="Enter Last Name"
                        value="<%= user.last_name %>"
                        required
                      />
                      <div class="invalid-feedback">
                        Please Enter Valid Last Name.
                      </div>
                    </div>

                    <div class="col-6 mb-3">
                      <label for="ProductName" class="form-label"
                        >Email I'd</label
                      >
                      <input
                        name="email"
                        class="form-control"
                        type="email"
                        placeholder="Enter Email I'd"
                        value="<%= user.email %>"
                        disabled
                        required
                      />
                      <div class="invalid-feedback">
                        Please Enter Valid Email I'd.
                      </div>
                    </div>

                    <div class="col-6 mb-3">
                      <label for="ProductName" class="form-label"
                        >Mobile No</label
                      >
                      <input
                        name="mobile_no"
                        class="form-control"
                        type="tel"
                        pattern="\d{10}"
                        minlength="10"
                        maxlength="10"
                        placeholder="Enter Mobile Number"
                        value="<%= user.mobile_number %>"
                        required
                      />
                      <div class="invalid-feedback">
                        Please Enter Valid Mobile Number.
                      </div>
                    </div>

                    <br />
                    <br />
                    <br />
                    <div class="FormBtnMarginTop col-12 md-3">
                      <button
                        href="/admin/users/"
                        class="btn btn-success"
                        type="submit"
                      >
                        Update
                      </button>
                      <a href="/admin/users" class="btn btn-danger">Discard</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- End User Edit Form -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('./admin-includes/common-css-includes.ejs') %>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button & Logout Modal-->
    <%- include('./admin-includes/common-css-includes.ejs') %>

    <!-- Import Common JS Files  -->
    <%- include('./admin-includes/common-js-includes.ejs') %>

    <!-- Page level custom Edit User page scripts -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            'submit',
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add('was-validated');
            },
            false
          );
        });
      })();
    </script>
  </body>
</html>
