<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./admin-includes/common-css-includes.ejs') %>

    <!-- Custom styles List (table) this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('./admin-includes/admin-sidebar.ejs') %>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('./admin-includes/admin-topbar.ejs') %>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">
                <%= user.first_name %> <%= user.last_name %> (User Name / Email)
              </h1>
            </div>

            <!-- User Details Page -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">User Details</h6>
              </div>
              <div class="card-body">
                <table class="table table-sm table-borderless">
                  <tbody>
                    <tr>
                      <td>First Name</td>
                      <td><%= user.first_name %></td>
                    </tr>
                    <tr>
                      <td>Last Name</td>
                      <td><%= user.last_name %></td>
                    </tr>
                    <tr>
                      <td>Email</td>
                      <td><%= user.email %></td>
                    </tr>
                    <tr>
                      <td>Mobile No.</td>
                      <td><%= user.mobile_number %></td>
                    </tr>
                    <tr>
                      <td>Gender</td>
                      <td><%= user.gender %></td>
                    </tr>
                    <tr>
                      <td>Birth Date</td>
                      <td><%= new Date(user.birth_date).toGMTString();%></td>
                    </tr>
                    <tr>
                      <td>Status</td>
                      <td><%= user.status === 1 ? 'Active' : 'Inactive' %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                  <%= user.first_name %>'s Issued Book History
                </h6>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Book Title</th>
                        <th>Issued Date</th>
                        <th>Return Date</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Book 1</td>
                        <td>20-10-2022</td>
                        <td>25-10-2022</td>
                      </tr>
                      <tr>
                        <td>Book 2</td>
                        <td>20-10-2022</td>
                        <td>25-10-2022</td>
                      </tr>
                      <tr>
                        <td>Book 3</td>
                        <td>20-10-2022</td>
                        <td>25-10-2022</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- End User Details Page -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('./admin-includes/common-css-includes.ejs') %>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button & Logout Modal-->
    <%- include('./admin-includes/common-css-includes.ejs') %>

    <!-- Import Common JS Files  -->
    <%- include('./admin-includes/common-js-includes.ejs') %>

    <!-- Page level plugins (Dashboard) -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom (Dashboard) scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

    <!-- Page level plugins List (Table)  -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom List (Table) scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- Page level custom Edit User page scripts -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            'submit',
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add('was-validated');
            },
            false
          );
        });
      })();
    </script>

    <!-- Page level custom Add Book page scripts -->
    <script>
      $(document).on('click', '.browse', function () {
        var file = $(this).parents().find('.file');
        file.trigger('click');
      });
      $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $('#file3').val(fileName);

        var reader = new FileReader();
        reader.onload = function (e) {
          // get loaded data and render thumbnail.
          document.getElementById('preview').src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
      });
    </script>
  </body>
</html>
