<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/common-css-includes.ejs') %>

    <!-- Custom styles List (table) this page -->
    <link
      href="/vendor/datatables/dataTables.bootstrap4.min.css"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%- include('includes/sidebar.ejs') %>

      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%- include('includes/topbar.ejs') %>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <!-- <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
              <h1 class="h3 mb-0 text-gray-800">Books List</h1>
            </div> -->

            <!-- Page Content  -->

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h5 class="m-0 font-weight-bold text-primary">Books</h5>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Title</th>
                        <th>Author Name</th>
                        <th>Total Qauntity</th>
                        <th>Available Qauntity</th>
                        <th>Status</th>
                        <th>Actions</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>
                          <a href="/admin/books/1" style="color: gray"
                            >Book 1</a
                          >
                        </td>
                        <td>Darpit A. Patel</td>
                        <td>50</td>
                        <td>48</td>
                        <td>Active</td>
                        <td>
                          <a
                            href="/admin/books/1"
                            class="btn btn-outline-primary btn-circle btn-sm"
                          >
                            <i class="fas fa-info"></i>
                          </a>
                          <a
                            href="/admin/books/1/edit"
                            class="btn btn-outline-primary btn-circle btn-sm"
                          >
                            <i class="fas fa-edit"></i>
                          </a>
                          <a
                            href="#"
                            class="btn btn-outline-primary btn-circle btn-sm"
                          >
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <a href="/admin/books/2" style="color: gray"
                            >Book 2</a
                          >
                        </td>
                        <td>Darpit</td>
                        <td>50</td>
                        <td>50</td>
                        <td>Inactive</td>
                        <td>
                          <a
                            href="/admin/books/2"
                            class="btn btn-outline-primary btn-circle btn-sm"
                          >
                            <i class="fas fa-info"></i>
                          </a>
                          <a
                            href="/admin/books/2/edit"
                            class="btn btn-outline-primary btn-circle btn-sm"
                          >
                            <i class="fas fa-edit"></i>
                          </a>
                          <a
                            href="#"
                            class="btn btn-outline-primary btn-circle btn-sm"
                          >
                            <i class="fas fa-trash"></i>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%- include('includes/footer.ejs') %>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button & Logout Modal-->
    <%- include('includes/scroll-logout-modal.ejs') %>

    <!-- Import Common JS Files  -->
    <%- include('includes/common-js-includes.ejs') %>

    <!-- Page level plugins (Dashboard) -->
    <script src="/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom (Dashboard) scripts -->
    <script src="/js/demo/chart-area-demo.js"></script>
    <script src="/js/demo/chart-pie-demo.js"></script>

    <!-- Page level plugins List (Table)  -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom List (Table) scripts -->
    <script src="/js/demo/datatables-demo.js"></script>

    <!-- Page level custom Edit User page scripts -->
    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms).forEach(function (form) {
          form.addEventListener(
            'submit',
            function (event) {
              if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
              }

              form.classList.add('was-validated');
            },
            false
          );
        });
      })();
    </script>

    <!-- Page level custom Add Book page scripts -->
    <script>
      $(document).on('click', '.browse', function () {
        var file = $(this).parents().find('.file');
        file.trigger('click');
      });
      $('input[type="file"]').change(function (e) {
        var fileName = e.target.files[0].name;
        $('#file3').val(fileName);

        var reader = new FileReader();
        reader.onload = function (e) {
          // get loaded data and render thumbnail.
          document.getElementById('preview').src = e.target.result;
        };
        // read the image file as a data URL.
        reader.readAsDataURL(this.files[0]);
      });
    </script>
  </body>
</html>
