<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./user-includes/header.ejs') %>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('./user-includes/page-header.ejs') %>
    <!-- ======= End Header ======= -->

    <main id="main">
      <!-- ======= Breadcrumbs ======= -->
      <%- include('./user-includes/breadcrumbs.ejs') %>
      <!-- ======= End Breadcrumbs ======= -->

      <!-- ======= About Section ======= -->
      <%- include('./user-includes/about-section.ejs') %>
      <!-- ======= End About Section ======= -->

      <!-- ======= Counts Section ======= -->
      <%- include('./user-includes/counts-section.ejs') %>
      <!-- End Counts Section -->

      <!-- ======= Testimonials Section ======= -->
      <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Testimonials</h2>
            <p>What are they saying</p>
          </div>

          <div
            class="testimonials-slider swiper"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <div class="swiper-wrapper">
              <!-- Start testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <!-- <img
                      src="/assets/img/testimonials/testimonials-1.jpg"
                      class="testimonial-img"
                      alt=""
                    /> -->
                    <h3>Darpit Patel</h3>
                    <h4>Student</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      With Simple Little Library, our pupils have completely
                      re-engaged with the library and have a love of reading.
                      Children can search for titles to read online, and our
                      library monitors will sign them out and deliver them to
                      their classes.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <!-- Start testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <!-- <img
                    src="/assets/img/testimonials/testimonials-1.jpg"
                    class="testimonial-img"
                    alt=""
                  /> -->
                    <h3>Zimi Patel</h3>
                    <h4>Student</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      This library management system is excellent software and I
                      would recommend it to any library that is serious about
                      helping its students.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->

              <!-- Start testimonial item -->
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <!-- <img
                      src="/assets/img/testimonials/testimonials-1.jpg"
                      class="testimonial-img"
                      alt=""
                    /> -->
                    <h3>Yash Patel</h3>
                    <h4>Student</h4>
                    <p>
                      <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                      The learning modules are very helpful for getting people
                      the basic knowledge needed to jumpstart a new career.
                      <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                  </div>
                </div>
              </div>
              <!-- End testimonial item -->
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </section>
      <!-- ======= End Testimonials Section ======= -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer & Top to Scroll ======= -->
    <%- include('./user-includes/footer.ejs') %>
    <!-- ======= End Footer & Top to Scroll ======= -->

    <!-- ======= Common JS Files Includes ======= -->
    <%- include('./user-includes/js-includes.ejs') %>
    <!-- ======= End Common JS Files Includes ======= -->
  </body>
</html>
