<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./user-includes/header.ejs') %>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <%- include('./user-includes/page-header.ejs') %>
    <!-- ======= End Header ======= -->

    <main id="main" data-aos="fade-in">
      <!-- ======= Breadcrumbs ======= -->
      <%- include('./user-includes/breadcrumbs.ejs') %>
      <!-- ======= End Breadcrumbs ======= -->

      <!-- ======= Courses Section ======= -->
      <section id="courses" class="courses">
        <div class="container" data-aos="fade-up">
          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <!-- Start Course Item-->
            <% for (let book of books) { %>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img
                  src="/<%= book.image %>"
                  class="img-fluid"
                  alt="<%= book.title %>"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4><%= book.category %></h4>
                  </div>

                  <h3>
                    <a href="/library-management-system/books/<%= book.id %>"
                      ><%= book.title %></a
                    >
                  </h3>
                  <p><%= (book.description).substring(0,75) %> ...</p>
                  <div
                    class="trainer d-flex justify-content-between align-items-center"
                  >
                    <div class="trainer-profile d-flex align-items-center">
                      <img
                        src="/assets/img/author.jpg"
                        class="img-fluid"
                        alt="Author"
                      />
                      <span><%= book.author_name %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
            <!-- End Course Item-->
          </div>
        </div>
      </section>
      <!-- End Courses Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer & Top to Scroll ======= -->
    <%- include('./user-includes/footer.ejs') %>
    <!-- ======= End Footer & Top to Scroll ======= -->

    <!-- ======= Common JS Files Includes ======= -->
    <%- include('./user-includes/js-includes.ejs') %>
    <!-- ======= End Common JS Files Includes ======= -->
  </body>
</html>
