<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./user-includes/header.ejs') %>
  </head>

  <body>
    <!-- ======= Page Header ======= -->
    <%- include('./user-includes/page-header.ejs') %>
    <!-- ======= End Page Header ======= -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-content-center align-items-center">
      <div
        class="container position-relative"
        data-aos="zoom-in"
        data-aos-delay="100"
      >
        <h1>Learning Today,<br />Leading Tomorrow</h1>
        <h2>
          We are team of talented designers making websites with Bootstrap
        </h2>
        <a href="books" class="btn-get-started">Get Started</a>
      </div>
    </section>
    <!-- ======= End Hero ======= -->

    <main id="main">
      <!-- ======= About Section ======= -->
      <%- include('./user-includes/about-section.ejs') %>
      <!-- ======= End About Section ======= -->

      <!-- ======= Counts Section ======= -->
      <%- include('./user-includes/counts-section.ejs') %>
      <!-- End Counts Section -->

      <!-- ======= Popular Books Section ======= -->
      <section id="popular-courses" class="courses">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Books</h2>
            <p>Recent Books</p>
          </div>

          <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <% for (let book of data.recentBooks) { %>
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
              <div class="course-item">
                <img
                  src="/<%= book.image %>"
                  class="img-fluid"
                  alt="<%= book.title %>"
                />
                <div class="course-content">
                  <div
                    class="d-flex justify-content-between align-items-center mb-3"
                  >
                    <h4><%= book.category %></h4>
                  </div>

                  <h3>
                    <a href="/library-management-system/books/<%= book.id %>"
                      ><%= book.title %></a
                    >
                  </h3>

                  <div
                    class="trainer d-flex justify-content-between align-items-center"
                  >
                    <div class="trainer-profile d-flex align-items-center">
                      <img
                        src="/assets/img/author.jpg"
                        class="img-fluid"
                        alt="Author"
                      />
                      <span><%= book.author_name %></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>

            <!-- End Course Item-->
          </div>
        </div>
      </section>
      <!-- End Popular Books Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer & Top to Scroll ======= -->
    <%- include('./user-includes/footer.ejs') %>
    <!-- ======= End Footer & Top to Scroll ======= -->

    <!-- ======= Common JS Files Includes ======= -->
    <%- include('./user-includes/js-includes.ejs') %>
    <!-- ======= End Common JS Files Includes ======= -->
  </body>
</html>
