<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo me-auto"><a href="/">Lucent Library </a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li>
          <a class="<%= path === '/library-management-system/' ? 'active' : '' %>" href="/">Home</a>
        </li>
        <li>
          <a class="<%= path === '/library-management-system/about-us' ? 'active' : '' %>" href="/library-management-system/about-us">About Us</a>
        </li>
        <li>
          <a class="<%= path === '/library-management-system/books' ? 'active' : '' %>" href="/library-management-system/books">Books</a>
        </li>
        <li>
          <a class="<%= path === '/library-management-system/contact-us' ? 'active' : '' %>" href="/library-management-system/contact-us">Contact Us</a>
        </li>
      </ul>
      <li href="" class="dropdown get-started-btn">
        <% if (isAuthenticated) {%>

        <a><span style="color: #fff"><%= userName ? userName : 'NA' %></span>
          <i style="color: #fff" class="bi bi-chevron-down"></i></a>
        <ul>
          <li><a href="/library-management-system/login">Logout</a></li>
        </ul>
        <%} else {%>

        <a href="/library-management-system/register"><span style="color: #fff">Login / Signup</span> </i></a>
        <% } %>

      </li>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
    <!-- .navbar -->
  </div>
</header>